.section__lead {
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .section__lead {
    margin: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .section__lead {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .section__lead {
    margin: 0;
  }
}
