.lead__caption {
  width: 160px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  align-self: flex-start;
}

<<<<<<< HEAD
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

=======
>>>>>>> d406e98c793e8e45c2180c3ca2ef3938f4ac37ee
@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
